.status-form-container{
    grid-row: 2/3;
    grid-column: 2/4;
    
    margin-left: 2rem;
    height: 21rem;
    width: 18rem;
    color: white;
    text-align: center;
    perspective: 1000px;
    background-color: transparent; 
}
.status-form-container-inner{
    will-change: transform;
    box-shadow: 0 0 4px rgba(255,255,255,0.2);
    border-radius: 5%;
    background-color: #28313b;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.status-form-container.show-score .status-form-container-inner{
    transform: rotateY(180deg);
}
/* for safari */
.status-form-container.show-score .user-options{
    visibility: hidden;
}
.status-form-container.show-score .game-status{
    visibility: visible;
}

.user-options , .game-status{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.game-status{
    transform: rotateY(180deg);
    display: flex;
    flex-direction: row;
    visibility: hidden;
}

.move-history{
    width: 40%;
    border-left: 1px solid rgb(183, 182, 182);
    padding-top: 1.7rem;
}
.histories{
    overflow-y: auto;
    height: 85%;
    margin-top: 0.5rem;
    line-height: 1.5rem;
}

.histories::-webkit-scrollbar {
    width: 0.8rem;
    height: 1em;
}
  
.histories::-webkit-scrollbar-track {
background: #dddddd;
border-radius: 100vw;
margin-left: 0.5rem;
}
  
.histories::-webkit-scrollbar-thumb {
background: rgb(13, 179, 185);
border: 2px solid #dddddd;
border-radius: 100vw;
}
  
.histories::-webkit-scrollbar-thumb:hover {
background: rgb(3, 159, 165);
}


.move{
    display: block;
}

.status-main{
    display: flex;
    flex-direction: column;
    width : 60%;
    justify-content: center;
    align-items: center;
}



div.status{
    width: 18rem;
    padding: 0.5rem;  
}

.title-name{
    font-size: 1.4rem;
}
.display-numbers{
    font-size: 1.5rem;
    
}



span.title-name{
    margin: 0.5rem 0.5rem;
}

.user-options{
    padding-top: 2.5rem;
}
.click-btn{
    display: flex;
    align-items: center;
    margin-left: 4rem;
    margin-top: 0.1rem;
    
}
.click-btn > div{
    border : 1px solid white;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 100%;
    margin-right: 1rem;
}

.vsTiger,.vsGoat{
    margin-left: 2rem;
}

.no-click{
    color: #444444;
    border-color: #444444 !important;
    pointer-events : none;
}



.new-game-btn{
    width: 60% !important;
    margin-top: 1.5rem;
}

  ul {
    list-style : none;
  }
  
  
  li > label{
    margin-left: 1rem;
    color: white;
    font-size: 1.2rem;
  }
  
  .active-btn{
    box-shadow:  0px 0px 8px 4px rgb(13, 179, 185) !important ;
    border-color : rgb(13, 179, 185) !important;
    
  }
  
  .hidden{
      display: none !important;
  }