@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
*,*::after,*::before{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Abel', sans-serif;
}

.baghchal-app{ 
  display: grid;
  grid-template-columns: 39rem 5rem 18rem;
  /* 12rem 29rem */
  grid-template-rows: 14rem 29rem;
  justify-content: center;
  grid-row-gap: 0px;
  grid-column-gap: 0px;
  margin: 4% 0px ; 
  
}

@media screen and (max-width: 992px) {
  .baghchal-app{
    justify-content: left;
    transform: scale(0.85);
    transform: translateX(-0.8rem);
  }
}
@media screen and (max-width: 688px) {
  .baghchal-app{
    margin: auto;
    margin-top: 3vh;
  }
}
@media screen and (max-width: 560px) {
  .baghchal-app{
    margin-top: 3vh;
    transform: rotatez(90deg) scale(0.6);
    justify-content: center;
    align-items: center;
   }
  .game-status{
    transform: translateY(-3rem);
  }
  .options{
    margin-top:2.5rem ;
  }
}
@media screen and (max-width: 380px) {
  
  .baghchal-app {  
    transform: scale(0.5) rotateZ(90deg);
    margin:auto;
  }
  .game-status{
    transform: translateY(-3rem);
  }
  .options{
    margin-top:2.5rem ;
  }
}
